@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "Montserrat", sans-serif;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Montserrat", sans-serif;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
  width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  color: #1d1d1f;
  font-size: 16px;
}

body._lock {
  overflow: hidden;
}

.button {
  color: #ffffff;
  background: #006D66;
  padding: 20px 31px;
  font-size: 1rem;
  display: inline-block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
  cursor: pointer;
  font-weight: 700;
  -webkit-box-shadow: 0px 10px 40px rgba(0, 109, 102, 0.2);
          box-shadow: 0px 10px 40px rgba(0, 109, 102, 0.2);
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  max-width: 1360px;
  margin: 0 auto;
}

.logo-container {
  max-width: 1132px;
}

.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 0px 0px;
}

.btn._fw {
  width: 100%;
}

.select {
  position: relative;
}

.select__item {
  position: relative;
}

.select__title {
  color: #000;
  border: 1px solid #d9d9d9;
  background-color: #fff;
  cursor: pointer;
  border-radius: 4px;
}

.select__value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  height: 30px;
  padding: 0px 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.select__value span {
  height: 1em;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.select__value:before {
  content: "";
  display: inline-block;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  width: 11px;
  height: 7px;
  background: url("../img/icons/select.svg") center/100% no-repeat;
}

.select__input {
  width: 100%;
  background-color: transparent;
  height: 100%;
}

.select__options {
  color: #000;
  display: none;
  position: absolute;
  top: 29px;
  border-radius: 0 0 4px 4px;
  min-width: 100%;
  left: 0;
  background-color: #fff;
  border-top: 0;
  border: 1px solid #d9d9d9;
  border-top: 0;
  font-size: 14px;
  padding: 10px 0px 5px 0px;
}

.select__option {
  cursor: pointer;
  padding: 5px 15px;
  margin: 0px 0px 0px 0px;
}

.select._active {
  z-index: 5;
}

.select._active .select__value:before {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.select._active .select__options {
  display: block;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.input {
  border-radius: 0 !important;
  width: 100%;
  display: block;
  padding: 0px 20px;
}

textarea.input {
  resize: none;
  padding: 0px 0px;
}

.checkbox {
  position: relative;
}

.checkbox__input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

.checkbox__input:checked + .checkbox__text:before {
  background: #fff url("../img/icons/check.svg") center no-repeat;
}

.checkbox__text {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  font-size: 16px;
  color: #ffffff;
  letter-spacing: -0.3px;
  line-height: 1.25;
  cursor: pointer;
}

.checkbox__text:before {
  content: "";
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 0px 14px 0px 0px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
  left: 0;
  top: 0;
  width: 20px;
  height: 18px;
  background: #fff;
  border: 1px solid #a7a9ac;
}

.checkbox a {
  color: #fff;
  text-decoration: underline;
}

.checkbox._error .checkbox__text:before {
  border: 1px solid #ee1212;
}

.options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.options__item {
  position: relative;
  cursor: pointer;
}

.options__input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  left: 0;
  top: 0;
  visibility: hidden;
}

.options__input:checked + .options__text:after {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.options__text {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  font-size: 16px;
  color: #ffffff;
  letter-spacing: -0.3px;
  line-height: 1.25;
}

.options__text:before {
  content: "";
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 0px 14px 0px 0px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
  left: 0;
  top: 0;
  border-radius: 50%;
  width: 20px;
  height: 18px;
  background: #fff;
  border: 1px solid #a7a9ac;
}

.options__text:after {
  content: "";
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #77243a;
  position: absolute;
  left: 5px;
  top: 4px;
}

.rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-size: 40px;
  line-height: 0.75;
  -webkit-transition: opacity 0.3s ease 0s;
  -o-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
}

.rating.rating_sending {
  opacity: 0.2;
}

.rating.rating_set .rating__active,
.rating.rating_set .rating__item {
  cursor: pointer;
}

.rating__body {
  position: relative;
}

.rating__body::before {
  content: "★★★★★";
  display: block;
}

.rating__active {
  position: absolute;
  width: 0%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}

.rating__active::before {
  content: "★★★★★";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  color: #ffd300;
}

.rating__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.rating__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
  height: 100%;
  opacity: 0;
}

.rating__value {
  font-size: 50%;
  line-height: 1;
  padding: 0px 0px 0px 10px;
}

.quantity {
  width: 88px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid rgba(166, 166, 166, 0.45);
}

.quantity__button {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30px;
          flex: 0 0 30px;
  position: relative;
  cursor: pointer;
}

.quantity__button::before,
.quantity__button::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  margin: 0px 0px 0px -4.5px;
  background-color: #a6a6a6;
  width: 9px;
  height: 1px;
}

.quantity__button_plus::before {
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.quantity__input {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.quantity__input input {
  height: 100%;
  color: #a6a6a6;
  font-size: 12px;
  width: 100%;
  text-align: center;
}

.row:after {
  display: block;
  content: "";
  clear: both;
}

.rub:after {
  content: "₽";
}

ol.counter {
  list-style-type: none;
  counter-reset: item;
}

ol.counter li {
  position: relative;
  padding: 0px 0px 0px 45px;
}

ol.counter li:before {
  counter-increment: item;
  content: counter(item);
  position: absolute;
  left: 0;
  top: 0;
  color: #818181;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  line-height: 26px;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  border: 1px solid #4274bb;
}

.ellipsis {
  display: block;
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.es {
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.table {
  display: table;
  font-size: 0;
  width: 100%;
}

.trow {
  display: table-row;
}

.cell {
  display: table-cell;
}

.cell.full {
  width: 100%;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

body.ie ._ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

body.ie ._ibg img {
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

._video {
  position: relative;
  overflow: hidden;
  height: 0;
  padding-bottom: 56.25%;
}

._video video,
._video iframe,
._video object,
._video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.videobg video,
.videobg iframe,
.videobg object,
.videobg embed {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  background-size: cover;
}

._more-content {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  overflow: hidden;
}

._more-link {
  cursor: pointer;
}

._more-link span {
  font-style: normal;
}

._more-link span:first-child {
  display: block;
}

._more-link span:last-child {
  display: none;
}

._more-link._active span {
  font-style: normal;
}

._more-link._active span:first-child {
  display: none;
}

._more-link._active span:last-child {
  display: block;
}

#map {
  background: url("../img/icons/loading.gif") center/50px no-repeat;
}

._swiper {
  overflow: hidden;
}

._swiper .swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

._swiper.swiper-container-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._swiper.swiper-container-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-container-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-container-android .swiper-slide,
.swiper-container-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

._tabs-block,
._tabs-block-image {
  display: none;
}

._tabs-block._active,
._tabs-block-image._active {
  display: block;
}

.mirror {
  -webkit-transform: scale(-1, 1);
      -ms-transform: scale(-1, 1);
          transform: scale(-1, 1);
}

.nicescroll-rails {
  z-index: 1000 !important;
}

._custom-scroll {
  position: fixed;
  right: 0;
  top: 0;
  width: 3px;
  height: 100%;
  z-index: 1000;
}

._custom-scroll__line {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 3px 0 0 3px;
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100px;
  margin-top: 38px;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 3;
  margin-top: auto;
  border-top: 2px solid #EFEFEF;
}

.header__menu li {
  margin-right: 101px;
  padding-top: 61px;
}

.header__menu li:last-child {
  margin: 0;
}

.header__menu > li {
  position: relative;
}

.header__menu a {
  color: #1d1d1f;
  display: inline-block;
  font-size: 1rem;
  font-weight: 400;
  text-transform: uppercase;
  -webkit-transition: 0.3s ease all;
  -o-transition: 0.3s ease all;
  transition: 0.3s ease all;
}

.header__menu a:before {
  display: block;
  content: "";
  height: 8px;
  width: 8px;
  border-radius: 100%;
  opacity: 0;
  background-color: #006D66;
  margin: 0 auto 8px auto;
  -webkit-transition: 0.3s ease all;
  -o-transition: 0.3s ease all;
  transition: 0.3s ease all;
}

.header__menu a:hover {
  font-weight: 700;
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.header__menu a:hover:before {
  opacity: 1;
}

.header__logo {
  max-width: 262px;
}

.icon-menu {
  display: none;
}

.footer {
  margin-top: 200px;
}

.footer__social-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 45px;
  border-bottom: 2px solid #EFEFEF;
}

.footer__logo {
  max-width: 187px;
  max-height: 69px;
}

.footer__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 46px;
}

.footer__links a {
  -webkit-transition: 0.3s ease all;
  -o-transition: 0.3s ease all;
  transition: 0.3s ease all;
}

.footer__links a:hover {
  font-weight: 700;
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.footer__links a:hover:before {
  opacity: 1;
}

.footer__links-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.footer__links-wrapper a {
  margin-right: 32px;
  text-transform: uppercase;
  font-size: 1rem;
  color: black;
  font-weight: 400;
  line-height: 20px;
}

.footer__made-with-love-mobile {
  display: none;
}

.footer__made-with-love p {
  font-weight: 700;
}

.footer__made-with-love img {
  width: 20px;
  height: 18px;
  margin: 0 5px 0 5px;
}

.footer__terms-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 18px 0 41px 0;
}

.footer__terms-links a {
  color: black;
  line-height: 19px;
  font-weight: 400;
  -webkit-transition: 0.3s ease all;
  -o-transition: 0.3s ease all;
  transition: 0.3s ease all;
}

.footer__terms-links a:hover {
  font-weight: 700;
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.footer__terms-links a:hover:before {
  opacity: 1;
}

.footer__terms-links a:first-child {
  margin-right: 30px;
}

.footer__terms-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social a {
  background: #006D66;
  margin-right: 30px;
  border-radius: 100%;
  -webkit-box-shadow: 0px 10px 50px 3px rgba(0, 109, 102, 0.2);
          box-shadow: 0px 10px 50px 3px rgba(0, 109, 102, 0.2);
  -webkit-transition: 0.4s ease all;
  -o-transition: 0.4s ease all;
  transition: 0.4s ease all;
}

.social a:hover {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}

.social a:nth-child(1) {
  padding: 15px 18.76px 15.33px 19px;
}

.social a:nth-child(2) {
  margin-right: 0;
  padding: 15px 14.33px 15.33px 16px;
}

.facebook {
  width: 8.57px;
  height: 16px;
}

.in {
  width: 16px;
  height: 16px;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.hero-section__image-wrap {
  height: 564px;
  width: 100%;
}

.hero-section__image {
  width: 100%;
  background-image: url(../img/hero-bg.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  -webkit-clip-path: polygon(0 0, 82% 0, 100% 100%, 0 100%);
          clip-path: polygon(0 0, 82% 0, 100% 100%, 0 100%);
}

.hero-section__content {
  margin-top: 35px;
}

.hero-section__subtitle {
  text-align: center;
  margin-top: 39px;
}

.hero-section__subtitle h2 {
  font-size: 2.5rem;
  font-weight: 300;
  text-transform: uppercase;
}

.hero-section__button {
  margin-top: 40px;
}

.bold {
  font-weight: 700;
}

.projects {
  margin-top: 200px;
}

.projects h2 {
  text-align: center;
  font-size: 1.875rem;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 0.25em;
}

.projects__small-logo {
  width: 59px;
  height: 59px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid white;
  border-radius: 100%;
  -webkit-box-shadow: 0px 10px 50px 3px rgba(0, 0, 0, 0.11);
          box-shadow: 0px 10px 50px 3px rgba(0, 0, 0, 0.11);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 42px auto 0 auto;
}

.projects__small-logo img {
  width: 46px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.projects__content {
  display: grid;
  margin-top: 50px;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 100px;
}

.projects__item {
  position: relative;
  z-index: 99;
  -webkit-filter: drop-shadow(0px 10px 50px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 10px 50px rgba(0, 0, 0, 0.25));
}

.projects__item-image {
  -webkit-clip-path: polygon(0 0, 100% 0, 74% 100%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 74% 100%, 0 100%);
}

.projects__button {
  padding: 15.33px 17.76px 15px 19.31px;
  background-color: #006D66;
  border-radius: 100%;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 100;
  -webkit-box-shadow: 0px 10px 50px 3px rgba(0, 109, 102, 0.2);
          box-shadow: 0px 10px 50px 3px rgba(0, 109, 102, 0.2);
  -webkit-transition: 0.3s ease all;
  -o-transition: 0.3s ease all;
  transition: 0.3s ease all;
}

.projects__button:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.projects__button:hover img {
  -webkit-transform: translateX(5px);
      -ms-transform: translateX(5px);
          transform: translateX(5px);
}

.projects__button img {
  width: 10px;
  height: 16px;
  -webkit-transition: 0.3s ease all;
  -o-transition: 0.3s ease all;
  transition: 0.3s ease all;
}

.projects__type {
  position: absolute;
  top: 43%;
  left: 44%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  padding: 15px 26px;
  background: rgba(255, 255, 255, 0.5);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
}

.projects__type p {
  font-size: 1.438rem;
  font-weight: 300;
}

.partners {
  margin-top: 200px;
}

.partners h2 {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 1.875rem;
  text-align: center;
  letter-spacing: 0.25em;
}

.partners p {
  font-size: 1.063rem;
  max-width: 656px;
  margin: 42px auto 0 auto;
  text-align: center;
  line-height: normal;
}

.logo-holder {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
}

.logo-holder.logo-holder-mob {
  display: none;
}

.logo-holder.logo-holder-desktop {
  margin-top: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.lottie-animation-logo {
  width: 100%;
}

.lottie-animation-logo-mob {
  display: none;
  width: 100%;
}

.services {
  margin-top: 200px;
}

.services__wrapper {
  padding: 50px 50px 50px 227px;
  background-color: #F9F9F9;
  -webkit-clip-path: polygon(14% 0, 100% 0, 100% 100%, 0 100%);
          clip-path: polygon(14% 0, 100% 0, 100% 100%, 0 100%);
}

.services__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.services__title h2 {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.875rem;
  font-weight: 300;
  margin: auto 39px auto 0;
  text-transform: uppercase;
  letter-spacing: 0.25em;
}

.services__small-logo {
  margin: auto;
  background-color: #006D66;
}

.services__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.services__button {
  margin-top: 0;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.05);
  color: #006D66;
  padding: 17px 31px;
  font-size: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.services__links {
  margin-top: 151px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.services__links a {
  font-size: 1.188rem;
  color: black;
  border-bottom: 2px solid #006D66;
  padding-bottom: 10px;
  font-weight: 300;
  -webkit-transition: 0.3s ease all;
  -o-transition: 0.3s ease all;
  transition: 0.3s ease all;
  display: block;
}

.services__links a:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.testimonials {
  margin-top: 200px;
}

.testimonials h2 {
  text-align: center;
  font-size: 1.875rem;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.25em;
}

.testimonials__slider {
  display: grid;
  grid-template-columns: 387.02px 1fr;
  position: relative;
  grid-gap: 84px;
  margin-top: 47px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.testimonials__slider img {
  -webkit-clip-path: polygon(0 0, 100% 0, 74% 100%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 74% 100%, 0 100%);
}

.testimonials__slider .swiper-slide {
  cursor: -webkit-grab;
  cursor: grab;
}

.testimonials__slider .swiper-slide p {
  font-size: 1.063rem;
  font-style: italic;
  line-height: 35px;
  max-width: 795px;
}

.testimonials__slider .author h3 {
  font-size: 1.438rem;
  font-weight: 700;
  margin-top: 28px;
}

.testimonials__slider .author p {
  margin-top: 5px;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.5);
}

.testimonials__slider-img {
  -webkit-filter: drop-shadow(0px 60px 50px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 60px 50px rgba(0, 0, 0, 0.15));
}

.swiper-button-prev {
  background: #006D66;
  -webkit-box-shadow: 0px 10px 50px 3px rgba(0, 109, 102, 0.2);
          box-shadow: 0px 10px 50px 3px rgba(0, 109, 102, 0.2);
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 15.33px 17.76px 15px 19.31px;
  border-radius: 100%;
  position: absolute;
  right: 0;
  top: 27%;
  -webkit-transition: 0.3s ease all;
  -o-transition: 0.3s ease all;
  transition: 0.3s ease all;
  cursor: pointer;
}

.swiper-button-prev:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.swiper-button-prev:hover img {
  -webkit-transform: translateX(-5px);
      -ms-transform: translateX(-5px);
          transform: translateX(-5px);
}

.swiper-button-prev img {
  width: 10px;
  height: 16px;
  -webkit-transition: 0.3s ease all;
  -o-transition: 0.3s ease all;
  transition: 0.3s ease all;
}

.swiper-button-next {
  background: #006D66;
  -webkit-box-shadow: 0px 10px 50px 3px rgba(0, 109, 102, 0.2);
          box-shadow: 0px 10px 50px 3px rgba(0, 109, 102, 0.2);
  padding: 15.33px 17.76px 15px 19.31px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 100%;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transition: 0.3s ease all;
  -o-transition: 0.3s ease all;
  transition: 0.3s ease all;
  cursor: pointer;
}

.swiper-button-next:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.swiper-button-next:hover img {
  -webkit-transform: translateX(5px);
      -ms-transform: translateX(5px);
          transform: translateX(5px);
}

.swiper-button-next img {
  width: 10px;
  height: 16px;
  -webkit-transition: 0.3s ease all;
  -o-transition: 0.3s ease all;
  transition: 0.3s ease all;
}

.contact-us {
  margin-top: 200px;
}

.contact-us h2 {
  text-align: center;
  text-transform: uppercase;
  font-size: 1.875rem;
  letter-spacing: 0.25em;
  font-weight: 300;
}

.contact-us h3 {
  margin-top: 5px;
  font-size: 2.5rem;
  text-align: center;
  text-transform: uppercase;
}

.contact-us p {
  max-width: 957px;
  font-size: 1.188rem;
  text-align: center;
  line-height: 35px;
  margin: 45px auto 0 auto;
}

.contact-us__button-wrapper {
  text-align: center;
  margin-top: 33px;
}

.w--current {
  font-weight: 700 !important;
}

.w--current::before {
  opacity: 1 !important;
}

.logo-holder-desktop {
  margin-left: -35px;
  margin-right: -35px;
}

.before-after__right img {
  width: initial;
}

.partners__content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 60px;
}

.partners__content .partners__item {
  border-right: 2px solid #E5E5E5;
}

.partners__content .partners__item:last-child {
  border-right: none;
}

.complited-projects__content h2 {
  letter-spacing: 0.25em;
  text-transform: uppercase;
  font-size: 1.875rem;
  font-weight: 300;
  text-align: center;
  margin-top: 97px;
}

.complited-projects__small-logo {
  margin: 43px auto 50px auto;
}

.complited-projects__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 121px;
}

.complited-projects__grid a {
  color: black;
  display: none;
}

.complited-projects__grid img {
  -webkit-filter: drop-shadow(0px 20px 70px rgba(0, 0, 0, 0.11));
          filter: drop-shadow(0px 20px 70px rgba(0, 0, 0, 0.11));
}

.complited-projects__button-wrapper {
  text-align: center;
  margin-top: 121px;
}

.complited-projects__popup-item {
  position: relative;
}

.complited-projects__popup-item:hover .complited-projects__popup-text {
  opacity: 1;
}

.complited-projects__button {
  margin-top: 0 !important;
}

.complited-projects__popup-text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  padding: 43px;
  background: rgba(255, 255, 255, 0.7);
  border: 1px solid #FFFFFF;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  opacity: 0;
  -webkit-transition: 0.6s ease all;
  -o-transition: 0.6s ease all;
  transition: 0.6s ease all;
}

.complited-projects__popup-text h2 {
  font-size: 1.313rem;
  font-weight: 700;
}

.complited-projects__popup-text p {
  font-size: 1.313rem;
  margin-top: 18px;
  font-weight: 300;
  line-height: 25px;
}

.complited-projects__popup-text h3 {
  font-size: 1rem;
  font-weight: 700;
  margin-top: 19px;
  white-space: nowrap;
}

.service-page__image {
  background-image: url(../img/service-page.png);
  background-position: left;
  -webkit-clip-path: polygon(0 0, 88% 0, 100% 100%, 0 100%);
          clip-path: polygon(0 0, 88% 0, 100% 100%, 0 100%);
}

.service-page__image-wrap {
  height: 359px;
}

.form {
  margin-top: 200px;
}

.form h2 {
  text-align: center;
  letter-spacing: 0.25em;
  text-transform: uppercase;
  font-size: 1.875rem;
  font-weight: 300;
  line-height: 25px;
}

.form p {
  font-size: 1.063rem;
  line-height: 30px;
  text-align: center;
  max-width: 957px;
  margin: 0 auto 0 auto;
}

.form__content {
  margin-top: 55px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 78px;
}

.form__wrapper {
  border-bottom: 2px solid #EDEDED;
}

.form__wrapper p {
  text-align: left !important;
  font-weight: 700;
  font-size: 1.188rem;
  margin: 0 0 10px 5px;
  color: rgba(0, 0, 0, 0.2);
}

.form__input {
  padding: 0 0 13px 5px;
  width: 100%;
}

.form__button-wrapper {
  text-align: center;
}

.form__button {
  margin-top: 70px !important;
}

.active {
  -webkit-transition: 0.4s ease all;
  -o-transition: 0.4s ease all;
  transition: 0.4s ease all;
  border-color: #006D66;
}

.active p {
  color: black;
  -webkit-transition: 0.4s ease all;
  -o-transition: 0.4s ease all;
  transition: 0.4s ease all;
}

.about-projects {
  margin-top: 200px;
}

.about-projects h2 {
  font-size: 1.875rem;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.25em;
  font-weight: 300;
  line-height: 35px;
}

.about-projects__content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-row-gap: 100px;
  grid-column-gap: 120px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-projects__content .item3 {
  grid-row: 2;
  grid-column: 2/3;
}

.about-projects__content .item4 {
  grid-row: 2;
  grid-column: 3/4;
}

.about-projects__content .item5 {
  grid-row: 3;
}

.about-projects__content .item6 {
  grid-row: 3;
}

.about-projects__item {
  position: relative;
  -webkit-filter: drop-shadow(0px 20px 50px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 20px 50px rgba(0, 0, 0, 0.15));
}

.about-projects__item p {
  text-align: center;
  line-height: 30px;
  font-size: 1.063rem;
  max-width: 327px;
}

.about-projects__item img {
  -webkit-clip-path: polygon(0 0, 78% 0, 100% 100%, 0 100%);
          clip-path: polygon(0 0, 78% 0, 100% 100%, 0 100%);
}

.about-projects__item-popup {
  position: absolute;
  top: 50%;
  left: 45%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 17px 31px;
  background: rgba(255, 255, 255, 0.5);
}

.about-projects__item-popup p {
  font-size: 1.188rem;
  max-width: 146px;
}

.comfortable {
  margin-top: 200px;
}

.comfortable__image {
  background-image: url(../img/comfort-sofa.png);
  position: relative;
  height: 359px;
  background-size: cover;
  background-position: center center;
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 87% 100%, 0 100%);
          clip-path: polygon(0% 0%, 100% 0%, 87% 100%, 0 100%);
}

.comfortable__popup-text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 14px 42px;
  border: 1px solid white;
  color: white;
  font-size: 2.5rem;
  line-height: 35px;
  text-transform: uppercase;
  font-weight: 300;
}

.comfortable__popup-text p {
  white-space: nowrap;
}

.benefits {
  margin-top: 200px;
}

.benefits__content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-row-gap: 100px;
}

.benefits__item {
  -webkit-filter: drop-shadow(0px 20px 50px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 20px 50px rgba(0, 0, 0, 0.15));
}

.benefits__item img {
  max-width: 430px;
  max-height: 430px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.benefits__item p {
  font-size: 1.063rem;
  line-height: 30px;
  margin-bottom: 20px;
}

.benefits__item p:last-child {
  margin-bottom: 0;
}

.benefits__item h3 {
  font-size: 1.875rem;
  text-transform: uppercase;
  margin-bottom: 50px;
}

.benefits__item-text {
  max-width: 601px;
}

.benefits .left {
  margin-right: auto;
}

.benefits .right {
  margin-left: auto;
}

.contact-us-service-page p {
  max-width: 995px;
  font-size: 1.063rem;
  line-height: 30px;
}

.before-after__content {
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 141px;
}

.before-after__left {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px 50px;
  background: #F9F9F9;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 63px 67px;
  -webkit-clip-path: polygon(0 0, 100% 0, 74% 100%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 74% 100%, 0 100%);
}

.before-after__left p {
  font-weight: 300;
}

.before-after__left h3 {
  font-size: 1.063rem;
  font-weight: 700;
  margin-top: 5px;
  padding-bottom: 8px;
  border-bottom: 2px solid #006D66;
  display: inline-block;
}

.gallery {
  margin-top: 200px;
}

.gallery .active-gallery img {
  display: none;
}

.gallery__content h2 {
  text-align: center;
  text-transform: uppercase;
  font-size: 1.875rem;
  letter-spacing: 0.25em;
  font-weight: 300;
}

.gallery__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 100px;
}

.gallery__grid img {
  -webkit-filter: drop-shadow(0px 20px 50px rgba(0, 0, 0, 0.11));
          filter: drop-shadow(0px 20px 50px rgba(0, 0, 0, 0.11));
}

.gallery__grid-item {
  position: relative;
  -webkit-transition: 0.3s ease all;
  -o-transition: 0.3s ease all;
  transition: 0.3s ease all;
  -webkit-box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.11);
          box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.11);
}

.gallery__grid-item a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-transition: 0.3s ease all;
  -o-transition: 0.3s ease all;
  transition: 0.3s ease all;
  opacity: 0;
}

.gallery__grid-item a img {
  width: 100%;
  height: 100%;
}

.gallery__grid-item a:hover::after {
  opacity: 1;
}

.gallery__grid-item a {
  width: 100%;
  height: 100%;
}

.gallery__grid-item a img {
  width: 100%;
  height: 100%;
}

.gallery .complited-projects__button-wrapper {
  margin-top: 0;
}

.terms h2 {
  margin-top: 100px;
  font-size: 1.875rem;
  text-align: center;
  letter-spacing: 0.25em;
  text-transform: uppercase;
  font-weight: 300;
}

.terms__text {
  margin-top: 50px;
}

.terms__text p {
  max-width: 1385px;
  font-size: 1.063rem;
  line-height: 30px;
  margin-bottom: 25px;
}

.terms__text p:last-child {
  margin-bottom: 0;
}

.before-after__right {
  -webkit-filter: drop-shadow(0px 20px 50px rgba(0, 0, 0, 0.11));
          filter: drop-shadow(0px 20px 50px rgba(0, 0, 0, 0.11));
}

.contact-us-form__content h2 {
  margin-top: 100px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 300;
  letter-spacing: 0.25em;
  font-size: 1.875rem;
}

.contact-us-form__grid {
  display: grid;
  grid-template-columns: 491px 1fr;
  grid-gap: 72px;
}

.contact-us-form__left {
  position: relative;
  -webkit-filter: drop-shadow(0px 20px 50px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 20px 50px rgba(0, 0, 0, 0.15));
}

.contact-us-form__left img {
  -webkit-clip-path: polygon(0 0, 88% 0, 100% 100%, 0 100%);
          clip-path: polygon(0 0, 88% 0, 100% 100%, 0 100%);
}

.contact-us-form__popup-content {
  width: 80%;
  height: 80%;
  position: absolute;
  top: 45%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 42px 80px 40px 40px;
  background: rgba(255, 255, 255, 0.8);
  border: 2px solid #FFFFFF;
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  -webkit-clip-path: polygon(0 0, 87.5% 0, 100% 100%, 0 100%);
          clip-path: polygon(0 0, 87.5% 0, 100% 100%, 0 100%);
}

.contact-us-form__popup-content h3 {
  font-size: 1.25rem;
  font-weight: 700;
  text-transform: uppercase;
}

.contact-us-form__popup-content p {
  font-size: 1.063rem;
  margin-top: 23px;
  line-height: 24px;
  max-width: 271px;
}

.contact-us-form__popup-contacts-wrapper {
  margin-top: 40px;
}

.contact-us-form__popup-contacts {
  margin-bottom: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.contact-us-form__popup-contacts b {
  margin: auto 12px auto 0;
  font-size: 1.063rem;
}

.contact-us-form__popup-contacts p {
  margin-top: 0;
  font-size: 1.063rem;
}

.contact-us-form__social {
  margin-top: 40px;
}

.contact-us-form__input-wrapper {
  grid-template-columns: repeat(2, 1fr) !important;
  gap: 48px 96px;
}

.contact-us-form__input-wrapper .form__wrapper p {
  white-space: nowrap;
}

.contact-us-form__radio-buttons-wrapper {
  margin-top: 50px;
}

.contact-us-form__radio-buttons-wrapper h3 {
  font-size: 1.188rem;
  font-weight: 700;
}

.contact-us-form__radio-buttons {
  margin-top: 21px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact-us-form__radio-buttons p {
  max-width: 120px;
  line-height: 25px;
  -webkit-transition: 0.4s ease all;
  -o-transition: 0.4s ease all;
  transition: 0.4s ease all;
}

.contact-us-form__message {
  margin-top: 50px;
}

.contact-us-form__button-wrapper {
  text-align: right;
  margin-top: 50px !important;
}

.contact-us-form__popup-mobile {
  -webkit-filter: drop-shadow(0px 20px 50px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 20px 50px rgba(0, 0, 0, 0.15));
  display: none;
}

.contact-us-form__popup-mobile .contact-us-form__popup-contacts b {
  margin-right: 5px;
}

.our-section-grid {
  margin-top: 200px;
}

.our-section-grid h2 {
  font-size: 1.875rem;
  letter-spacing: 0.25em;
  text-transform: uppercase;
  text-align: center;
}

.our-section-grid__content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 120px;
  margin-top: 100px;
}

.our-section-grid__item {
  padding: 60px;
  background-color: #F9F9F9;
  -webkit-filter: drop-shadow(0px 20px 50px rgba(0, 0, 0, 0.11));
          filter: drop-shadow(0px 20px 50px rgba(0, 0, 0, 0.11));
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
}

.our-section-grid__item p {
  margin-top: 40px;
  font-size: 1.0625rem;
  max-width: 500px;
  line-height: 30px;
}

.our-section-grid__item:first-child h3 {
  max-width: 200px;
}

.our-section-grid__item h3 {
  font-size: 1.1875rem;
  border-bottom: 2px solid #006D66;
  padding-bottom: 7px;
  max-width: 180px;
  white-space: nowrap;
}

.our-section-grid__button-wrapper {
  margin-top: 40px;
}

.our-section-grid__button {
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.05);
  text-transform: uppercase;
  color: #006D66;
}

.radio-input {
  visibility: hidden;
}

.radio-label {
  position: relative;
  cursor: pointer;
  -webkit-transition: 0.4s ease all;
  -o-transition: 0.4s ease all;
  transition: 0.4s ease all;
}

.radio-label:after {
  content: "";
  display: block;
  width: 18px;
  height: 18px;
  position: absolute;
  left: -30px;
  top: 17px;
  border-radius: 50%;
  border: 2px solid rgba(0, 109, 102, 0.2);
  -webkit-transition: ease-in 0.4s;
  -o-transition: ease-in 0.4s;
  transition: ease-in 0.4s;
}

.radio-input:checked + .radio-label:after {
  border-color: #006D66;
}

.radio-active p {
  font-weight: 700;
  -webkit-transition: 0.4s ease all;
  -o-transition: 0.4s ease all;
  transition: 0.4s ease all;
}

.radio-input {
  position: absolute;
}

.radio-budget:after {
  top: 5px;
}

@media (min-width: 992px) {
  .select__option:hover {
    background: #d9d9d9;
  }

  .checkbox a:hover {
    text-decoration: none;
  }
}

@media (min-width: 999.98px) {
  .quantity__button:hover::before,
  .quantity__button:hover::after {
    background-color: rgba(0, 0, 0, 0.5);
  }
}

@media (max-width: 1450px) {
  .before-after__content {
    grid-gap: 50px;
  }

  .before-after__left {
    -webkit-clip-path: polygon(0 0, 100% 0, 81% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 81% 100%, 0 100%);
  }
}

@media (max-width: 1400px) {
  .header__menu li {
    margin-right: 50px;
  }
}

@media (max-width: 1372px) {
  .container {
    max-width: none;
    padding: 0 35px;
  }
}

@media (max-width: 1360px) {
  .testimonials__slider {
    grid-gap: 50px;
  }

  .swiper-button-prev {
    top: 55%;
  }

  .swiper-button-next {
    top: 75%;
  }
}

@media (max-width: 1300px) {
  .before-after__left {
    padding: 30px;
    gap: 40px 0;
  }
}

@media (max-width: 1250px) {
  .contact-us-form__popup-content {
    top: 34.5%;
    height: 60%;
  }

  .contact-us-form__radio-buttons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 39px 79px;
    margin-top: 42px;
  }
}

@media (max-width: 1200px) {
  .projects__item {
    max-width: 400px;
  }

  .projects__type {
    padding: 10px 10px;
  }

  .about-projects__content {
    grid-gap: 40px;
  }

  .gallery__grid-item a::after {
    display: none;
  }
}

@media (max-width: 1150px) {
  .services__wrapper {
    padding: 26px 33px;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

  .services__title h2 {
    margin-right: 0;
  }

  .form__content {
    grid-gap: 30px;
  }
}

@media (max-width: 1100px) {
  .comfortable__popup-text {
    font-size: 2.188rem;
  }

  .contact-us-form__grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .contact-us-form__left {
    display: none;
  }

  .contact-us-form__radio-buttons-wrapper h3 {
    text-align: center;
  }

  .contact-us-form__radio-buttons {
    justify-items: left;
    position: relative;
    left: 15%;
  }

  .contact-us-form__button-wrapper {
    text-align: center;
  }

  .contact-us-form__popup-mobile {
    display: block;
    max-height: 429.76px;
    max-width: 342px;
    margin: 85px auto 0 auto;
  }

  .contact-us-form__popup-mobile .contact-us-form__popup-content {
    top: 50%;
    height: 70%;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    padding: 30px;
  }

  .contact-us-form__popup-mobile .contact-us-form__popup-content h3 {
    font-size: 1rem;
    text-align: center;
    font-size: 0.875rem;
  }

  .contact-us-form__popup-mobile .contact-us-form__popup-content p {
    display: none;
  }

  .contact-us-form__popup-mobile .contact-us-form__popup-content .contact-us-form__popup-contacts {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 30px;
  }

  .contact-us-form__popup-mobile .contact-us-form__popup-content .contact-us-form__popup-contacts p {
    display: block;
    text-align: center;
  }

  .contact-us-form__popup-mobile .contact-us-form__popup-content .contact-us-form__social {
    display: none;
  }

  .contact-us-form__popup-mobile img {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

  .our-section-grid__content {
    grid-gap: 50px;
  }
}

@media (max-width: 1100px) and (max-width: 479.98px) {
  .contact-us-form__popup-mobile .contact-us-form__popup-content {
    padding: 20px;
  }
}

@media (max-width: 1100px) and (max-width: 380px) {
  .contact-us-form__popup-mobile .contact-us-form__popup-content {
    height: 75%;
  }
}

@media (max-width: 999.98px) {
  .select__title {
    font-size: 18px;
  }

  .select__options {
    font-size: 18px;
  }

  .header {
    margin-top: 30px;
  }

  .header__menu {
    border: none;
  }

  .header__menu {
    display: block;
    position: fixed;
    overflow-y: auto;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 50px 30px 30px 30px;
    left: -100%;
    -webkit-transition: left 0.3s ease;
    -o-transition: left 0.3s ease;
    transition: left 0.3s ease;
    -webkit-transform: translateY(100px);
        -ms-transform: translateY(100px);
            transform: translateY(100px);
  }

  .header__menu > li {
    padding: 0;
    margin-bottom: 30px;
  }

  .header__menu > li:last-child {
    margin-bottom: 0;
  }

  .header__menu a {
    color: black;
    font-size: 1.5rem;
  }

  .header__menu.active {
    left: 0;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu:before,
  .icon-menu:after {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    top: calc(50% - 1px);
    left: 0px;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #1d1d1f;
    border-radius: 20px;
  }

  .icon-menu span {
    background-color: transparent;
  }

  .icon-menu:before,
  .icon-menu:after {
    content: " ";
  }

  .icon-menu:before {
    top: 0px;
  }

  .icon-menu:after {
    top: auto;
    bottom: 0px;
  }

  .icon-menu.active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .icon-menu.active:before {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: calc(50% - 1px);
  }

  .icon-menu.active:after {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: calc(50% - 1px);
  }

  .footer {
    margin-top: 100px;
  }

  .footer__links {
    display: block;
    text-align: center;
  }

  .footer__links-wrapper {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .footer__made-with-love-mobile {
    display: block !important;
    text-align: center;
    margin-bottom: 41px;
  }

  .footer__made-with-love {
    display: none;
  }

  .footer__terms-links {
    display: block;
    margin: 28px 0 38px 0;
  }

  .footer__terms-wrapper {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .footer__copy {
    text-align: center;
    margin-top: 20px;
  }

  .social a {
    margin-right: 20px;
  }

  .social a:nth-child(1) {
    padding: 12.95px 16.2px 13.24px 16.4px;
  }

  .social a:nth-child(2) {
    padding: 12.95px 12.37px 13.24px 13.81px;
  }

  .hero-section__image {
    background-position: left;
  }

  .projects {
    margin-top: 100px;
  }

  .projects h2 {
    font-size: 1.313rem;
  }

  .projects__small-logo {
    margin-top: 25px;
  }

  .projects__content {
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    grid-gap: 50px;
    margin-top: 32px;
  }

  .projects__type {
    padding: 15px 26px;
  }

  .partners {
    margin-top: 100px;
  }

  .services {
    margin-top: 100px;
  }

  .services__title {
    display: block;
    text-align: center;
  }

  .services__content {
    display: block;
  }

  .services__button {
    display: none;
  }

  .services__links {
    display: block;
    max-width: 340px;
    margin: 48px auto 0 auto;
    text-align: center;
  }

  .services__links a {
    max-width: 203px;
  }

  .services__links a:nth-child(even) {
    margin: 25px 0 0 auto;
  }

  .services__links a:nth-child(3) {
    margin-top: 25px;
  }

  .testimonials {
    margin-top: 100px;
  }

  .testimonials__slider {
    display: block;
  }

  .testimonials__slider .swiper-slide {
    text-align: center;
  }

  .testimonials__slider .swiper-slide p {
    margin: 0 auto 0 auto;
  }

  .testimonials__slider .author h3 {
    margin-top: 22px;
  }

  .testimonials__slider-img {
    text-align: center;
    margin-bottom: 50px;
  }

  .testimonials__slider-img img {
    max-width: 425px;
  }

  .testimonials__slider-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 20px;
  }

  .swiper-button-prev {
    position: initial;
    margin-right: 15px;
    -webkit-box-shadow: 0 3px 27px 3px rgba(0, 109, 102, 0.2);
            box-shadow: 0 3px 27px 3px rgba(0, 109, 102, 0.2);
  }

  .swiper-button-next {
    position: initial;
    margin-left: 15px;
    -webkit-box-shadow: 0 3px 27px 3px rgba(0, 109, 102, 0.2);
            box-shadow: 0 3px 27px 3px rgba(0, 109, 102, 0.2);
  }

  .contact-us {
    margin-top: 100px;
  }

  .partners__content {
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    justify-items: center;
  }

  .partners__content .partners__item {
    border: none;
  }

  .complited-projects__grid {
    grid-gap: 50px;
  }

  .complited-projects__button-wrapper {
    margin-top: 80px;
  }

  .form {
    margin-top: 100px;
  }

  .form h2 {
    font-size: 1.313rem;
    max-width: 332px;
    margin: 0 auto 0 auto;
  }

  .form__content {
    margin-top: 75px;
  }

  .form__content {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 46px;
  }

  .form__button {
    margin-top: 66px !important;
  }

  .about-projects {
    margin-top: 100px;
  }

  .about-projects__content {
    display: block;
  }

  .about-projects__content .item3 {
    grid-row: initial;
    grid-column: initial;
  }

  .about-projects__content .item4 {
    grid-row: initial;
    grid-column: initial;
  }

  .about-projects__content .item5 {
    grid-row: initial;
    grid-column: initial;
  }

  .about-projects__content .item6 {
    grid-row: initial;
    grid-column: initial;
  }

  .about-projects__item p {
    margin: 30px auto 30px auto;
  }

  .about-projects__item p::last-child {
    margin-bottom: 0;
  }

  .comfortable {
    margin-top: 100px;
  }

  .comfortable__popup-text {
    font-size: 1.188rem;
  }

  .benefits {
    margin-top: 100px;
  }

  .benefits__content {
    grid-gap: 50px;
  }

  .benefits__item h3 {
    font-size: 1.313rem;
    margin-bottom: 20px;
  }

  .before-after__content {
    grid-gap: 20px;
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .before-after__left {
    padding: 33px;
  }

  .before-after__left h3 {
    font-size: 0.8rem;
  }

  .gallery {
    margin-top: 100px;
  }

  .gallery__grid {
    grid-gap: 50px;
  }

  .our-section-grid {
    margin-top: 100px;
  }

  .our-section-grid__content {
    grid-gap: 30px;
  }

  .our-section-grid__item {
    padding: 30px;
  }

  .our-section-grid__item p {
    font-size: 1rem;
    line-height: 25px;
  }
}

@media (max-width: 991px) {
  .lottie-animation-logo {
    display: none;
  }

  .lottie-animation-logo-mob {
    display: block;
  }
}

@media (max-width: 767.98px) {
  .header {
    height: 68px;
  }

  .header__logo {
    max-width: 183px;
  }

  .footer {
    font-size: 0.9375rem;
  }

  .footer a {
    font-size: 0.9375rem;
  }

  .footer__social-wrapper {
    padding-bottom: 32px;
  }

  .footer__logo {
    width: 170px;
  }

  .facebook {
    width: 7.4px;
    height: 13.81px;
  }

  .in {
    width: 13.81px;
    height: 13.81px;
  }

  .hero-section__subtitle {
    margin-top: 27px;
  }

  .hero-section__subtitle h2 {
    max-width: 336px;
    margin: 0 auto 0 auto;
    font-size: 1.563rem;
    line-height: 30px;
  }

  .hero-section__button {
    margin-top: 27px;
  }

  .partners h2 {
    font-size: 1.313rem;
    max-width: 342px;
    margin: 0 auto 0 auto;
  }

  .partners p {
    margin-top: 25px;
    font-size: 0.875rem;
  }

  .services__title h2 {
    font-size: 1.313rem;
  }

  .testimonials h2 {
    font-size: 1.313rem;
    line-height: 25.6px;
  }

  .testimonials__slider .swiper-slide p {
    font-size: 0.875rem;
    line-height: 25px;
  }

  .testimonials__slider .author h3 {
    font-size: 1.313rem;
  }

  .contact-us h2 {
    font-size: 1.313rem;
    line-height: normal;
  }

  .contact-us h3 {
    font-size: 1.563rem;
    margin-top: 10px;
  }

  .contact-us p {
    font-size: 0.875rem;
    line-height: 27px;
  }

  .partners__content {
    grid-template-columns: repeat(1, 1fr);
    gap: 67px 0;
  }

  .partners__content .partners__item img {
    max-width: 350px;
  }

  .complited-projects__content h2 {
    font-size: 1.313rem;
    line-height: normal;
  }

  .complited-projects__small-logo {
    margin: 25px auto 25px auto;
  }

  .complited-projects__grid {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 50px;
  }

  .complited-projects__button-wrapper {
    margin-top: 50px;
  }

  .complited-projects__popup-text h2 {
    font-size: 1.188rem;
  }

  .complited-projects__popup-text p {
    font-size: 1.188rem;
    margin-top: 15px;
  }

  .complited-projects__popup-text h3 {
    font-size: 0.875rem;
    margin-top: 15px;
  }

  .form__wrapper p {
    font-size: 1rem;
  }

  .about-projects h2 {
    font-size: 1.313rem;
    max-width: 342px;
    margin: 0 auto 0 auto;
  }

  .about-projects__content {
    grid-gap: 30px;
  }

  .about-projects__item p {
    font-size: 0.875rem;
    line-height: 27px;
  }

  .about-projects__item-popup p {
    font-size: 1rem;
  }

  .comfortable__popup-text {
    padding: 11px 18px;
  }

  .comfortable__popup-text p {
    max-width: 155px;
    white-space: normal;
    text-align: center;
  }

  .benefits {
    margin-top: 15px;
  }

  .benefits__content {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 0;
  }

  .benefits .benefits-item2 {
    grid-row: 1;
  }

  .benefits .benefits-item6 {
    grid-row: 5;
  }

  .benefits__item img {
    margin-top: 85px !important;
  }

  .benefits__item p {
    text-align: center;
    max-width: 342px;
    margin: 0 auto 20px auto;
  }

  .benefits__item h3 {
    text-align: center;
    margin-top: 50px;
  }

  .benefits .left {
    margin: 0 auto;
  }

  .benefits .right {
    margin: 0 auto;
  }

  .before-after__content {
    grid-template-columns: repeat(1, 1fr);
  }

  .before-after__left {
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    grid-gap: 27px;
    grid-row: 2;
    padding: 50px;
    width: 100%;
  }

  .before-after__left p {
    text-align: center;
    font-size: 0.875rem;
  }

  .before-after__left h3 {
    font-size: 1rem;
  }

  .gallery__content h2 {
    font-size: 1.313rem;
  }

  .gallery__grid {
    display: block;
  }

  .gallery__grid-item {
    margin-bottom: 50px;
  }

  .gallery__grid-item:last-child {
    margin-bottom: 0;
  }

  .terms h2 {
    font-size: 1.313rem;
  }

  .terms__text {
    margin-top: 25px;
  }

  .terms__text p {
    font-size: 0.875rem;
    line-height: 27px;
  }

  .contact-us-form__input-wrapper {
    grid-template-columns: repeat(1, 1fr) !important;
    margin-top: 95px !important;
  }

  .contact-us-form__radio-buttons-wrapper h3 {
    font-size: 1rem;
  }

  .our-section-grid__content {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 50px;
  }

  .our-section-grid__item {
    text-align: center;
  }

  .our-section-grid__item {
    padding: 50px;
  }

  .our-section-grid__item p {
    margin: 30px auto 0 auto;
  }

  .our-section-grid__item h3 {
    margin: 0 auto;
  }
}

@media (max-width: 500px) {
  .footer__links {
    margin-top: 30px;
  }

  .footer__links-wrapper a {
    margin: 15px 15px auto 0;
  }
}

@media (max-width: 479.98px) {
  .footer__logo {
    width: 140px;
  }

  .hero-section__image-wrap {
    height: 358px;
  }

  .complited-projects__popup-text {
    padding: 33px;
  }

  .contact-us-form__radio-buttons {
    gap: 30px 40px;
    justify-items: left;
    position: relative;
    left: 12%;
  }

  .our-section-grid__item {
    padding: 30px;
  }

  .our-section-grid__item p {
    font-size: 0.875rem;
  }
}

@media (max-width: 350px) {
  .container {
    padding: 0 15px;
  }

  .services__wrapper {
    padding: 26px 20px;
  }

  .contact-us-form__radio-buttons {
    gap: 20px 10px;
  }
}