<div class="swiper _swiper">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <p>“Chez Vitoria is absolutely incredible. They are the most talented group of designers I've ever worked with or
        encountered. They are also very professional and complete everything to the highest quality bar. Chez Vitoria
        will be my first call for design work for years to come.”</p>
      <div class="author">
        <h3>Matthew DiMarcantonio</h3>
        <p>Co-foundr, CEO of Marble</p>
      </div>
    </div>
    <div class="swiper-slide">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar
        dapibus leo. </p>
        <div class="author">
          <h3>John Doe</h3>
          <p>CEO</p>
        </div>  
    </div>
    <div class="swiper-slide">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar
        dapibus leo. </p>
        <div class="author">
          <h3>John Doe</h3>
          <p>CEO</p>
        </div>  
    </div>

  <div class="swiper-pagination"></div>

</div>

